# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
.venv/
env/
venv/
ENV/
*.env

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# PyInstaller
*.spec

# Test / Coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/
nosetests.xml
test-results/

# Logs
*.log

# MyPy, Pylint, etc.
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
pylint-report.txt
